# Intro to Python
_DataCamp Course - Oct 2022_

## What is Python?

Python is a general purpose programming language. It's open source, created by Guido van Rossum it's considered the swiss army of the programming languages.

### Python as calculator
Syntax for some basic arithmetics:

In [1]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

10
0
15
5.0
4
16

**Problem**: Suppose you have \\$100, which you can invest with a 10% return each year. After one year, it's $100 * 1.1 = 110$ dollars, and after two years it's $100 * 1.1 * 1.1 = 121$. Add code to calculate how much money you end up with after 7 years, and print the result.

In [2]:
print(100 * 1.1**7)

194.87171000000012

## Variables and Types

In Python variables are written in snake_case. Keep in mind that they are also case-sensitive.
The `type` function can tell the type of a variable

In [5]:
x = 5
type(x)

int

Some common python data types are:
- Floats
- Ints
- Strings
- Boolean

### Type Conversion
Use `str()`, `int()`, `float()` and `bool()` to Python values into any type.

In [6]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

I started with $100 and now have $194.87171000000012. Awesome!

Note in the code above that for string concatenation to be successful, all pieces must be strings. A string cannot be concatenated directly with an integer, the integer must be parsed to string first.

## Lists

Lists are arrangements of elements. They can store elements of different types, although it's not very common

In [7]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv,"bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

### Subsetting lists

Lists are zero-indexed, so `list[i]` will return the element of the list at index $i$.

If $i < 0$ that call will return the element at position $i$ starting from tail to head.

Lists can also be sliced to get a resulting sub-list. `list[i:j]` will return the elements of the list from index $i$ to index $j-1$ (so $j$ is exclusive and $i$ is inclusive). `list[:j]` and `list[i:]` can also be used to slice the list from head to $j-1$ and from $i$ to tail respectively.

### Manipulating lists

The same syntax used to slice and access lists can be used to modify values using the assignment operator.

To delete an element or a subset of elements of a list, `del(list[i])` can be used.

Python saves lists in variables by reference; it means that, if a variable is defined from another one, both are really pointing to the same space in memory and hence one will mutate if the other one does. To avoid this behavior, an actual copy of the initial list must be created. This can be done with the `list()` function.

In [14]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]

Concatenation using the `+` operator can be used to extend lists and attach one list to the end of another one.

In [12]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]
print(areas)

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]
print(areas_1)

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

## Functions

In [18]:
# Functions are invoked like this
round(2.54)

# Some function receive optional arguments like the second argument of round
round(2.54, 1)

# Arguments can be passed also this way, stating the name of the argument on each case
round(number = 2.54, ndigits = 1)

2.5

## Methods

Python applies the OOP paradigm for most of its uses. _Everything in Python is an object_ is a common quotation that describes this.
Basic data types and data structures such as lists are objects, and hence present some built-in methods that can be used

### String Methods

In [22]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count('o'))

poolhouse
POOLHOUSE
3

### List Methods

In [26]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

In [25]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

## Packages

In [27]:
# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = math.pi*r*2

# Calculate A
A = math.pi*r**2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

### Selective imports

In [28]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r*radians(12)

# Print out dist
print(dist)

40317.10572106901

### Aliases

In [31]:
from scipy.linalg import inv as my_inv

## NumPy

NumPy is python library that provides useful tooling to deal with numeric data

### Defining arrays
Beforehand, the first thing that must be done to play with numpy is to define arrays. Arrays are a numpy class very similar to lists and can be defined starting from a list using the `np.array()` function

In [32]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np

# Create a numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

### Arithmetics

NumPy provides the ability to do some math with arrays. Addition, multiplication, substraction, exponetiation and other operations can be done between arrays and numbers. NumPy will take care of mapping the operation on each element of the resulting array

In [36]:
# height is available as a regular list, in inches
height = [92.54, 84.21, 63.2, 72.3]

# Import numpy
import numpy as np

# Create a numpy array from height: np_height
np_height = np.array(height)

# Print out np_height
print(np_height)

# Convert np_height to m: np_height_m
np_height_m = np_height * 0.0254

# Print np_height_m
print(np_height_m)

[92.54 84.21 63.2  72.3 ]
[2.350516 2.138934 1.60528  1.83642 ]

Operations between arrays are also supported

In [37]:
# height_in and weight_lb are available as regular lists
height_in = [92.54, 84.21, 63.2, 72.3]
weight_lb = [300, 200, 250, 180]

# Import numpy
import numpy as np

# Create array from height_in with metric units: np_height_m
np_height_m = np.array(height_in) * 0.0254

# Create array from weight_lb with metric units: np_weight_kg
np_weight_kg = np.array(weight_lb) * 0.453592

# Calculate the BMI: bmi
bmi = np_weight_kg / (np_height_m ** 2)

# Print out bmi
print(bmi)

[24.62976213 19.82899093 44.00518034 24.20994839]

### Subsetting arrays
The subsetting operator on lists can be extended on NumPy to also slice an array filtering according to a given criteria

In [40]:
# height_in and weight_lb are available as a regular lists

# Import numpy
import numpy as np

# Calculate the BMI: bmi
np_height_m = np.array(height_in) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

# Create the light array
light = bmi < 21


# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi)
print(bmi[light])

[False  True False False]
[24.62976213 19.82899093 44.00518034 24.20994839]
[19.82899093]

### 2D Arrays

NumPy supports 2D arrays. That is, arrays inside arrays.

In [42]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

# Import numpy
import numpy as np

# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

#### Subsetting 2D Arrays

Subsetting can be achieved with the `np_array[i1:i2, j1:j2]` method.

In [46]:
# baseball is available as a regular list of lists

# Import numpy package
import numpy as np

# Create np_baseball (2 cols)
np_baseball = np.array(baseball)

# Print out the 1st row of np_baseball
print(np_baseball[1,:])

# Select the entire second column of np_baseball: np_weight_lb
np_weight_lb = np_baseball[:, 1]

# Print out height of 3th player
print(np_baseball[2,0])

[215.  102.7]
210.0

### Stats with Numpy
NumPy provides some helpers to compute statistics on the array data

In [47]:
# np_baseball is available

# Import numpy
import numpy as np

# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. Replace 'None'
med = np.median(np_baseball[:, 0])
print("Median: " + str(med))

# Print out the standard deviation on height. Replace 'None'
stddev = np.std(np_baseball[:, 0])
print("Standard Deviation: " + str(stddev))

# Print out correlation between first and second column. Replace 'None'
corr = np.corrcoef(np_baseball[:, 0], np_baseball[:, 1])
print("Correlation: " + str(corr))

Average: 198.25
Median: 199.0
Standard Deviation: 14.635146053251399
Correlation: [[1.         0.95865738]
 [0.95865738 1.        ]]